.product-box {
    padding: 1rem;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 300px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .4);
}

.product-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.product-button {
    display: flex;
}